* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: inherit;
  background-color: #fbf3db;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.025rem;
  line-height: 1.5rem;
  min-height: 100vh;
  margin: 0% 20%;
}

/* *************** */

.text-header {
  text-align: center;
  margin: 50px;
  font-size: 75px;
}

/* *************** */

.text-form {
  text-align: center;
  margin: 25px;
  font-size: 25px;
  font-style: italic;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* *************** */

.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 25px;
}

.item-list {
  border: solid 2px black;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

/* *************** */

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* *************** */

.item-text.checked {
  text-decoration: line-through;
}

/* *************** */
.clear {
  padding: 4px 8px;
  font-size: 12px;
  color: #ffffff;
  background-color: #ff6347; /* Tomato red, giving a distinct look */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
